@model HotelMotel.Business.Models.Project


<tr>
    <td style="font-weight: bold;">
        @Html.DisplayFor(m => m.ProjectDescription)
    </td>
    <td style="font-weight: bold;">
        @Html.DisplayFor(m => m.ProjectStatus)<br />
    </td>
</tr>