@model  PurposeAmount
<tr>
    <td style="font-weight: normal; font-size: 14px;">
        @Html.DisplayFor(m => m.PPurpose)
    </td>
    <td style="font-weight: bold; font-size: 15px; text-align: right;">
        @Html.DisplayFor(m => m.PAmount)<br />
    </td>
</tr>