@{
    ViewBag.Title = "Error";
}

<p><br /></p>
<div class="row" style="margin-bottom: 20px;">
    <div style="width: 600px; margin: 2px 0 30px 200px; text-align: justify;">
        <h4 style="color: maroon;">An error occurred, please contact <a href="mailto:websc@dca.ga.gov"> Web Publication Center</a> with details of the error.</h4>
    </div>
</div>
