@{
    ViewBag.Title = "Error";
}

<p><br /></p>
<div class="row" style="margin-bottom: 20px;">
    <div style="width: 600px; margin: 2px 0 30px 200px; text-align: justify;">
        <h4 style="color: maroon;">This page is not found in Hotel-Motel application.</h4>
    </div>
</div>
