@model HotelMotel.Business.ViewModels.FormCViewmodel

<div style="font-size: 14px; width:650px; text-align: justify;">
    O.C.G.A. 36-81-8(b)(1)(B) requires all local governments which levy a Hotel-Motel Tax to submit a schedule of all revenues therefrom which are expended for the promotion of tourism, conventions, and trade shows (TCT) or any other tourism related purpose except Tourism Product Development (TPD).  Failure to complete this schedule, if applicable, will result in a delinquent Hotel-Motel Tax reporting status and could adversely impact your continuing authority to impose the tax.
    <p style="font-size: 14px;">
        <br />
        <span style="font-size: 15px; font-weight: bold; text-align: center; color: navy;">On the following lines, enter the detailed information in each row</span>
    </p>
</div>
<table class="table table-bordered table-striped">
    @Html.DisplayFor(x => x.Pcises)
</table>
