@model HotelMotel.Business.ViewModels.FormCViewmodel

<div style="font-size: 15px; font-weight: bold; text-align: center; color: navy; width:650px; text-align: justify;">
    If you impose the tax under Authorization 49-13-51(b) and have expended or reserved funds for a Tourism Product Development Project, list the name of that Project.
    <p style="font-size: 14px;">
    </p>
</div>
<table class="table table-bordered table-striped">
    @Html.DisplayFor(x => x.Projects)
</table>
