@{
    ViewBag.Title = "Tester";
}

<h2>Tester</h2>

<div style="margin-left: 100px; color: blue; font-size: x-large;">
    <table class="table-bordered">
        <tr>
            <th>User Id and Password</th>
        </tr>
        <tr>
            <td>@ViewBag.TestString</td>
        </tr>
    </table>
</div>